
adapter_index = 0
aspect_ratio = -1
borderless_fullscreen = false
fullscreen = true
fullscreen_output = 0
render_settings = {
	bloom_enabled = false
	debug_final_depth = false
	debug_lights = false
	debug_render_voxels = false
	debug_rendering = false
	decal_limit = 256
	distort_enabled = true
	dof_enabled = false
	fxaa_enabled = false
	g_tessellation = 1
	g_tessellation_detail = 1
	g_tessellation_tri_size = 8
	gbuffer_albedo_luminance_visualization = false
	gbuffer_albedo_visualization = false
	gbuffer_ao_visualization = false
	gbuffer_depth = false
	gbuffer_emissive_visualization = false
	gbuffer_fill_albedo = false
	gbuffer_glossiness_visualization = false
	gbuffer_normal_visualization = false
	gbuffer_shadow_mask_visualization = false
	gbuffer_specular_visualization = false
	generate_cubemap = false
	lighting = true
	local_lights_cast_shadows = true
	particles_cast_shadows = false
	particles_local_lighting = true
	particles_receive_shadows = true
	particles_tessellation = true
	pixelize = false
	shadow_map_size = [256 256]
	ssao_enabled = true
	ssao_hq = false
	voxel_cone_tracing = false
}
screen_resolution = [3840 2160]
slayer = {
	camera = {
	}
	debug = {
	}
	difficulty = "hard"
	dungeon_generator = {
	}
	has_shown_input_select = "true"
	query = {
	}
	sound = {
		master_slider_code = -9
		music_slider_code = -13
		sfx_slider_code = -10
	}
}
sound = {
}
throttle_120 = false
vsync = true
